body {
	margin: 0;
	font-family: sans-serif;
	background-color: rgb(200, 200, 200);
}

header h1 {
	text-align: center;
	vertical-align: middle;
	color: dodgerblue;
}

header {
	background-image: url("Main-Tafelbild.jpg");
	padding: 1px;
}

header h1 {
	-webkit-text-stroke: 1px white;
	background-color: rgba(0, 0, 0, 0.6);
}

#checkbox {
	display: none;
}

.menu {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0;
	margin: 0;
	list-style-type: none;
	height: 0;
}

.menu li {
	display: flex;
	align-items: center;
	justify-content: center;
	align-self: center;
	width: 100%;
	opacity: 0;
	visibility: hidden;
	background-color: rgba(200, 200, 200, 0.8);
	border-radius: 10px;
	margin-bottom: 2px;
}

.menu li:last-child {
	border-bottom: 0px solid;
}

.menu li a {
	text-align: center;
	padding: 16px 20px;
	width: 100%;
	align-self: center;
	text-decoration: none;
	color: black;
	font-weight: bold;
	-webkit-text-stroke: 0.02em white;
}

.menu li a:hover {
	background-color: rgba(0, 165, 255, 0.5);
	border-radius: 10px;
}

.toggle {
	display: block;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
	font-size: 20px;
	background-color: lightgray;
}

#checkbox:checked + label .menu {
	height: 230px;
}

#checkbox:checked + label .menu li {
	opacity: 1;
	visibility: visible;
}

.grid-container {
	margin: 8px 0;
	display: grid;
	grid-template: repeat(4, 1fr) / 100%;
}

.grid-container section {
	background: rgba(0, 165, 255, 0.5);
	padding: 20px;
	text-align: center;
	border-radius: 4px;
	margin: 4px 3em;
}

footer {
	background-color: black;
	color: white;
}

footer p {
	padding: 4px;
}

@media screen and (min-width: 620px) {
	.toggle {
		display: none;
	}

	.menu {
		display: flex;
		flex-direction: row;
		justify-content: center;
		height: 50px;
		border-bottom: 0px solid;
		margin-bottom: 10px;
	}

	.menu li {
		border-bottom: 0px solid lightgrey;
		width: auto;
		opacity: 1;
		visibility: visible;
		margin: 0 10px;	
	}

	#checkbox:checked + label .menu {
		height: 50px;
	}

	main {
		padding: 0 20px;
	}

	.grid-container {
		display: grid;
		grid-template: 50% 50% / 50% 50%;
		max-width: 1200px;
		margin: 0 auto;
		margin-top: 8px;
		padding: 0;
		align-content: center;
	}

	.grid-container section {
		margin: 4px;
	}
}
