body {
	margin: 4px auto;
	font-family: sans-serif;
}

header h1 {
	text-align: center;
	color: dodgerblue;
}

main {
}

main section {
	background: rgba(0, 165, 255, 0.5);
	padding: 8px;
	text-align: center;
	border-radius: 4px;
	margin: 0.5em 3em;
}

footer {
	background-color: black;
	color: white;
}

footer p {
	padding: 4px;
}

@media screen and (min-width: 420px) {
	nav * {
		#display: inline;
		text-decoration: none;
	}

	nav ul {
		display: flex;
		justify-content: center;
		list-style-type: none;
	}

	nav ul li {
		margin: 0.8em;
	}

	main {
		display: grid;
		grid-template: 50% 50% / 50% 50%;
		grid-gap: 8px;
		max-width: 600px;
		margin: 0 auto;
		padding: 0;
		align-content: center;
	}

	main section {
		margin: 0 4px;
	}

}
